@using BookWorm.Service 
@using Microsoft.AspNetCore.Identity 
@inject UserManager<User> _userManager 
@inject BuyService _buyService 
@{
    Layout = "/Views/Shared/_AdminNavbarLayout.cshtml" ; 
    ViewBag.PageName = "Bill" ;
}

      <div class="row">
        <div class="col-md-7 mt-4">
          <div class="card">
            <div class="card-header pb-0 px-3">
              <h6 class="mb-0">Customer Information</h6>
            </div>
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                @{
                 var userIDs = _buyService.GetAllCustomerIDbyUserID(_userManager.GetUserId(User));
                }
                  @{
                    foreach(var id in userIDs){
                      User user = await _userManager.FindByIdAsync(id);
                      <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                      <div class="d-flex flex-column">
                        <h6 class="mb-3 text-sm">@user.UserName</h6>
                        <span class="mb-2 text-xs">Phone Number: <span class="text-dark font-weight-bold ms-sm-2">@user.PhoneNumber</span></span>
                        <span class="mb-2 text-xs">Email Address: <span class="text-dark ms-sm-2 font-weight-bold">@user.Email</span></span>
                        <span class="text-xs">Purchased Product: 
                          @{
                            foreach(var product in _buyService.GetProductBySellerAndCustomer(_userManager.GetUserId(User) , id)){
                          <span class="text-dark ms-sm-2 font-weight-bold">@product.Name</span>
                            }
                          }
                          </span>
                      </div>
                      <div class="ms-auto text-end">
                        <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="far fa-trash-alt me-2"></i>Delete</a>
                        <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                      </div>
                    </li>
                    }
                  }
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-5 mt-4">
          <div class="card h-100 mb-4">
            <div class="card-header pb-0 px-3">
              <div class="row">
                <div class="col-md-6">
                  <h6 class="mb-0">Newest Transaction</h6>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center">
                  <i class="far fa-calendar-alt me-2"></i>
                  <small>@DateOnly.FromDateTime(DateTime.Today)</small>
                </div>
              </div>
            </div>
            <div class="card-body pt-4 p-3">
              <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Today</h6>
              <ul class="list-group">
                  @{
                    foreach(var item in _buyService.getProductBillByTime(DateTime.Today)){
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    @{
                        string userID = _userManager.GetUserId(User);
                        string ope = "" ; 
                        string state = "" ; 
                        string arrow = "" ; 
                        if(item.Product.UserID == userID){
                          ope = "+" ; 
                          state = "success";
                          arrow = "up" ; 
                        }
                        else{
                          ope = "-" ; 
                          state = "danger" ; 
                          arrow = "down" ;  
                        }
                    }
                    
                    <button class="btn btn-icon-only btn-rounded btn-outline-@state mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-@arrow"></i></button>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">@item.Product.Name</h6>
                      <span class="text-xs">@item.Date</span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-@state text-gradient text-sm font-weight-bold">
                    @ope $ @item.Product.Price
                  </div>
                </li>
                    }
                  }
              </ul>
                            <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Yesterday</h6>
              <ul class="list-group">
                  @{
                  
                    DateTime date = new DateTime(DateTime.Now.Year , DateTime.Now.Month , DateTime.Now.Day - 1) ; 
                    foreach(var item in _buyService.getProductBillByTime(DateTime.Today.AddDays(-1))){
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    @{
                        string userID = _userManager.GetUserId(User);
                        string ope = "" ; 
                        string state = "" ; 
                        string arrow = "" ; 
                        if(item.Product.UserID == userID){
                          ope = "+" ; 
                          state = "success";
                          arrow = "up" ; 
                        }
                        else{
                          ope = "-" ; 
                          state = "danger" ; 
                          arrow = "down" ;  
                        }
                    }
                    
                    <button class="btn btn-icon-only btn-rounded btn-outline-@state mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-@arrow"></i></button>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">@item.Product.Name</h6>
                      <span class="text-xs">@item.Date</span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-@state text-gradient text-sm font-weight-bold">
                    @ope $ @item.Product.Price
                  </div>
                </li>
                    }
                  }
              </ul>
            </div>
          </div>
        </div>
      </div>((byte)