@model Product
@using Microsoft.AspNetCore.Identity 
@inject UserManager<User> _userManager 

                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4 mt-3">
                  <div class="card card-blog card-plain">
                    <div class="position-relative">
                      <a class="d-block shadow-xl border-radius-xl">
                        <img src="/images/@Model.Image" alt="img-blur-shadow" style="width: 23rem; height: 15rem" class="img-fluid shadow border-radius-xl">
                      </a>
                    </div>
                    <div class="card-body px-1 pb-0">
                      <h3>@Model.Name</h3>
                      <p class="text-gradient text-dark mb-2 text-sm">Create Time: @Model.CreatedDate</p>
                      <a href="javascript:;">
                        <h5>
                          @Model.Price$ Discount - @Model.Discount%
                        </h5>
                      </a>
                      <p class="mb-4 text-sm">
                        @Model.Content
                      </p>
                      <div class="d-flex align-items-center justify-content-between">
                        <a type="button" asp-action="detail" asp-route-id=@Model.ID asp-controller="home" class="btn btn-outline-primary btn-sm mb-0">View Project</a>
                        
                      </div>
                     
                    </div>
                  </div>
                  
                </div>

@{
        @* public class Product
    {
        public string? ID{ get; set;}
        public string Name{ get; set; }
        public string Image{ get; set;} 
        public decimal Price{ get; set;}
        public string Content{get; set;}
        public string Title{get; set;}
        public string? UserID { get; set; }
        public User? User { get; set; }
        public Category? Category { get; set; }
        public string? CategoryID { get; set; }
    } *@
}